#
# author:    Xu Xiaodong <xxdlhy@gmail.com>
# modified:  2012 Jun 14
#

#-- base --#

min_peers     = 40
max_peers     = 100
download_rate = 0
upload_rate   = 0
directory     = ~/tmp
session       = ~/tmp/session

#-- schedule --#

schedule = watch_directory,5,5,load_start=~/tmp/*.torrent
schedule = watch_directory_2,10,10,"load_start=~/mov/*.torrent,d.set_directory=~/mov/"
schedule = low_diskspace,5,60,close_low_diskspace=1024M

#-- dht --#

dht           = auto
dht_port      = 6881
peer_exchange = yes

#-- colors --#
# 0     | 1   | 2     | 3      | 4    | 5       | 6    | 7     | -1
# black | red | green | yellow | blue | magenta | cyan | white | default

#done_fg_color   = 2
#done_bg_color   = -1
#active_fg_color = 1
#active_bg_color = -1
